body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: #d4cdd8;
    color: #2a292a;
}

#title {
    font-size: 50px;
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    text-shadow: #573c54 0px 0 50px;
    text-decoration: underline wavy #2a292a;
    text-decoration-skip-ink: auto;
    text-decoration-thickness: 3px;
    text-underline-offset: 5px;
}

#rules {
    background-color: #7c9fa3;
    border: 2px solid #31595e;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: calc((50% - 225px) / 2);
    transform: translate(-50%, -50%);
    width: 25%;
    padding: 10px;
}

@media (max-width: 1220px) {
    #rules {
        width: 18%;
        left: calc((50% - 250px) / 2);
    }
}

@media (max-width: 900px) {
    #rules {
        visibility: hidden;
    }
}

#background {
    width: 500px;
    height: 500px;
    background-color: #a8c1c7;
    border-radius: 0px 0px 25px 25px;
    position: fixed;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    border: 2px solid #899fa5;
    z-index: 9;
}

#board {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 450px;
    height: 450px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    z-index: 10;
}

.cell {
    width: 50px;
    height: 50px;

    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

#endMessage {
    position: fixed;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #223f66;
    visibility: hidden;
}

#endPopup {
    border-radius: 25px;
    width: 400px;
    height: 250px;
    background-color: #eeddf1;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 5px solid #b0a4b3;
    visibility: hidden;
}

.replay {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    position: fixed;
    top: 53%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #75c1cb;
    color: white;
    font-size: 20px;
    padding: 10px 25px;
    border-radius: 8px;
    border: 2px solid #528187;
    visibility: hidden;
}

#carrotCount {
    border-radius: 25px 25px 0px 0px;
    background-color: #d1a5b9;
    border: 2px solid #a5798d;
    width: 500px;
    height: 60px;
    
    position: fixed;
    top: calc(55% - 284px);
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    align-items: center;
    gap: 35px;
    z-index: 8;
}

#carrotLabel {
    font-size: 20px;
    font-weight: bold;
    color: #2a292a;
    position: relative;
    left: 25px;
}

#numCarrots {
    font-size: 38px;
    font-weight: bold;
    color: #2a292a;
}

@media screen and (max-device-width: 480px) and (orientation: portrait) {
    #background {
        transform: scale(0.8);
    }
    
    #board {
        transform: scale(0.8);
    }
    
    .cell {
        transform: scale(0.8);
    
        font-size: 80%;
    }
    
    #endPopup {
        transform: scale(0.8);
    }
    
    .replay {
        font-size: 80%;
        
        transform: scale(0.8);
    }
    
    #carrotCount {
        transform: scale(0.8);
    }
    
    #carrotLabel {
        font-size: 80%;
    }
    
    #numCarrots {
        font-size: 80%;
    }
}
